* {
    margin: 0;
    padding: 0;
    background-color: rgb(208, 238, 238);
}

.container {
    width: 100%;
    /* min-height: 100vh; */
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 8%;
    box-sizing: border-box;
    overflow: hidden;
}

.navbar {
    width: 100%;
    display: flex;
    align-items: center;
}

.logo {
    cursor: pointer;
}

nav {
    flex: 1;
    text-align: right;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin-right: 30px;
}

nav ul li a {
    text-decoration: none;
    color: #000;
    font-size: 14px;
}

.changeli ul li {
    list-style: none;
    display: inline-block;
    margin-right: 30px;
}

.changeli ul li a {
    text-decoration: none;
    color: #000;
    font-size: 14px;

}

nav ul li a:hover {
    color: rgb(255, 137, 137);
}

#home-nav {
    color: rgb(219, 78, 78);
}

#home-nav:hover {
    color: black;
}

hero-photo {
    align-items: flex-end;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px 0;
}

.col-1 {
    flex-basis: 40%;
    position: relative;
    /* margin-left: 50px; */
}

.col-1 h1 {
    color: rgb(74, 74, 129);
    font-size: 2.5rem;
}

.col-1 span::after {
    content: "";
    width: 57%;
    height: 10px;
    background: rgb(104, 187, 169);
    position: absolute;
    left: -0px;
}

.col-2 {
    position: relative;
    flex-basis: 60%;
    display: flex;
    align-items: center;
}

button {
    width: 140px;
    border: 0;
    margin-top: 20px;
    padding: 12px 10px;
    outline: none;
    color: white;
    border-radius: 3px;
    background: rgb(219, 78, 78);
}

.col-2 img {
    width: 80%;
}

.col1 {
    width: 50%;
    float: left;
}

.col1 img {
    padding: 0;
    border-radius: 50%;
    width: 300px;
}

.col2 {
    padding-left: 30px;
    width: 50%;
    float: left;
}

.abouth4,
.service h4 {
    font-weight: lighter;
    text-transform: uppercase;
    color: rgb(41, 41, 97);

}

.col2 h1,
.service h1 {
    color: rgb(41, 41, 97);
    padding-bottom: 1rem;
}

.col2 h4 {
    font-weight: normal;
    color: rgb(41, 41, 97);
}

.col2 h6 {
    color: rgb(41, 41, 97);
    font-weight: lighter;
}

.hambuger {
    visibility: hidden;
}

.bar ul li {
    list-style: none;
    width: 25%;
    float: left;
    text-decoration: none;
    color: #000;
}

.bar {

    width: 100%;
    /* min-height: 100vh; */
    padding-left: 8%;
    box-sizing: border-box;
    overflow: hidden;
}

.slider-images {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
    text-align: right;
    padding-left: 20px;
    margin-top: 50px;
    width: 100%
}

.slider-images .one {
    position: relative;
    right: -20px
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .slider-images .one img {
        height: 667px
    }
}

@media only screen and (max-width: 575px) {
    .slider-images .one img {
        height: 305px
    }
}

@media only screen and (min-width: 760px) and (max-width: 989px),
only screen and (max-width: 767px) {
    .slider-images {
        position: relative;
        width: 100%;
        max-width: 480px;
        padding: 0 15px;
        margin: 50px auto 0
    }
}

@media only screen and (max-width: 575px) {
    .slider-images .one {
        right: 0
    }
}

@media only screen and (max-width: 700px) {
    nav ul {
        width: 25%;
        float: left;
        position: absolute;
        top: 75px;
        right: 0;
        z-index: 2;
    }

    .hambuger {
        visibility: visible;
    }

    nav ul li {
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

.section {
    background-color: white;
}

.b {
    background-color: rgb(121, 121, 248);
}

.comment-items {
    margin-top: 55px
}

.widget-subscribe input {
    max-width: max-content;
    display: inline;
}

.comment-items .single-comment {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 65px
}

@media only screen and (max-width: 767px) {
    .comment-items .single-comment {
        display: block
    }
}

.comment-items .single-comment .comment-author img {
    border-radius: 50%;
    border: 2px solid #b3d9db
}

.comment-items .single-comment .comment-content {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding-left: 30px
}

@media only screen and (max-width: 767px) {
    .comment-items .single-comment .comment-content {
        padding-left: 0;
        padding-top: 27px
    }
}

.comment-items .single-comment .comment-content .name {
    font-size: 18px;
    font-weight: 600;
    color: #1d3557;
    margin-bottom: 0
}

.comment-items .single-comment .comment-content p {
    margin-top: 5px;
    margin-bottom: 0
}

.comment-items .single-comment .comment-content .meta {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: 10px
}

.comment-items .single-comment .comment-content .meta li {
    position: relative
}

.comment-items .single-comment .comment-content .meta li+li::before {
    content: '//';
    font-weight: 500;
    color: #1d3557;
    margin: 0 8px
}

.comment-items .single-comment .comment-content .meta li a,
.comment-items .single-comment .comment-content .meta li span {
    font-size: 15px;
    font-family: "Metropolis";
    color: #1d3557
}

.comment-items .single-comment .comment-content .meta li a:hover {
    color: #c25251
}

.comment-items .comment-replay {
    padding-left: 130px
}

@media only screen and (max-width: 575px) {
    .comment-items .comment-replay {
        padding-left: 0
    }
}

.comment-form {
    margin-top: 45px
}

.contact-info {
    position: relative;
    padding-top: 30px;
    padding-left: 30px;
    margin-top: 50px
}

@media only screen and (max-width: 575px) {
    .contact-info {
        padding-top: 15px;
        padding-left: 15px
    }
}

.contact-info::before {
    position: absolute;
    content: '';
    width: 80%;
    height: 90%;
    background-color: #f9fbf5;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 5px
}

.contact-info .title {
    margin-bottom: 15px;
    font-weight: 600;
    font-size: 24px;
    color: #1d3557;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    position: relative;
    padding-bottom: 2px
}

@media only screen and (min-width: 992px) and (max-width: 1199px),
only screen and (min-width: 768px) and (max-width: 991px),
only screen and (max-width: 575px) {
    .contact-info .title {
        font-size: 20px
    }
}

.contact-info .title::before {
    position: absolute;
    content: '';
    width: 60px;
    height: 2px;
    background-color: #b3d9db;
    bottom: 0;
    left: 0
}

.contact-info .contact-info-wrapper {
    background-color: #ebf7f8;
    border-radius: 5px;
    padding: 65px
}

.column {
    float: left;
    width: 25%;
    padding: 0 5px;
    background-color: white;
}

/* Remove extra left and right margins, due to padding in columns */
.row {
    margin: 0 -5px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Style the counter cards */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    /* this adds the "card" effect */
    padding: 10px;
    min-height: 20rem;
    text-align: center;
}
.card img{
    width: 5rem;
}

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 770px) {
    .column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .contact-info .contact-info-wrapper {
        padding: 35px
    }
}

@media only screen and (max-width: 575px) {
    .contact-info .contact-info-wrapper {
        padding: 25px
    }
}

.single-contact-info {
    padding: 25px 0
}

.single-contact-info+.single-contact-info {
    border-top: 1px solid #a8dadc
}

.single-contact-info .info-title {
    font-family: "Maven Pro", sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #585858;
    margin-bottom: 13px
}

.single-contact-info p {
    margin-bottom: 0
}

.form-message {
    margin-bottom: 0
}

.form-message.error,
.form-message.success {
    font-size: 16px;
    color: #585858;
    background-color: #ebf7f8;
    padding: 10px 15px;
    margin-left: 15px;
    margin-top: 15px
}

.form-message.error {
    color: red
}

.contact-form {
    margin-top: 45px
}

.contact-form .contact-title {
    margin-bottom: 0px;
    font-weight: 600;
    font-size: 24px;
    color: #1d3557
}

@media only screen and (min-width: 992px) and (max-width: 1199px),
only screen and (min-width: 768px) and (max-width: 991px),
only screen and (max-width: 575px) {
    .contact-form .contact-title {
        font-size: 20px
    }
}

.contact-map iframe {
    width: 100%;
    height: 600px;
    display: block
}

@media only screen and (max-width: 767px) {
    .contact-map iframe {
        height: 400px
    }
}

.footer-widget-title {
    color: #1d3557;
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 0px;
    padding-bottom: 10px
}

.footer-widget {
    margin-top: 50px
}

.footer-widget p {
    margin-bottom: 0;
    margin-top: 30px
}

.footer-widget .widget-text {
    font-size: 18px;
    font-weight: 600;
    color: #457b9d
}

@media only screen and (max-width: 575px) {
    .footer-widget .widget-text {
        font-size: 16px
    }
}

.footer-widget .widget-subscribe {
    position: relative;
    margin-top: 30px
}

.footer-widget .widget-subscribe input {
    width: 100%;
    height: 45px;
    border: 0;
    padding: 0 20px;
    padding-right: 140px;
    background-color: #fff;
    font-size: 16px;
    font-weight: 500;
    color: #8d8d8d;
    border-radius: 5px;
    outline: none
}

.footer-widget .widget-subscribe .btn {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 16px;
    line-height: 43px;
    background-color: #457b9d;
    color: #fff
}

.footer-widget .widget-social {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 35px
}

.footer-widget .widget-social a {
    margin-right: 30px;
    font-size: 18px;
    color: #457b9d;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s
}

.footer-widget .widget-social a:hover {
    color: #c25251
}

.footer-widget .widget-social a:last-child {
    margin-right: 0
}

.footer-widget .footer-link li {
    margin-top: 10px
}

.footer-widget .footer-link li a {
    font-size: 16px;
    color: #585858;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s
}

.footer-widget .footer-link li a:hover {
    color: #c25251
}

.footer-widget .widget-info {
    margin-top: 20px
}

.footer-widget .widget-info p {
    margin-top: 0
}

.footer-widget .widget-info p a {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s
}

.footer-widget .widget-info p a:hover {
    color: #c25251
}

.footer-widget-link {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around
}

@media only screen and (min-width: 768px) and (max-width: 991px),
only screen and (max-width: 767px) {
    .footer-widget-link {
        -webkit-box-pack: end;
        -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px),
only screen and (max-width: 767px) {
    .footer-widget-link .footer-widget {
        width: 50%
    }
}

@media only screen and (max-width: 575px) {
    .footer-widget-link .footer-widget {
        width: 100%
    }
}

.sidebar-widget {
    margin-top: 48px
}

.widget-title {
    margin-bottom: 0px;
    font-weight: 600;
    font-size: 24px;
    color: #1d3557;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    position: relative;
    padding-bottom: 2px
}

@media only screen and (min-width: 992px) and (max-width: 1199px),
only screen and (min-width: 768px) and (max-width: 991px),
only screen and (max-width: 575px) {
    .widget-title {
        font-size: 20px
    }
}

.widget-title::before {
    position: absolute;
    content: '';
    width: 60px;
    height: 2px;
    background-color: #b3d9db;
    bottom: 0;
    left: 0
}

.widget-search {
    position: relative;
    margin-top: 35px
}

.widget-search input {
    width: 100%;
    font-weight: 500;
    font-size: 16px;
    border: 0;
    height: 50px;
    border: 1px solid #a8dadc;
    padding-left: 20px;
    padding-right: 80px;
    border-radius: 5px;
    color: #a3a3a3;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s
}

.widget-search input:focus {
    outline: none;
    border-color: #c25251
}

.widget-search input::-webkit-input-placeholder {
    opacity: 1
}

.widget-search input::-moz-placeholder {
    opacity: 1
}

.widget-search input:-ms-input-placeholder {
    opacity: 1
}

.widget-search input::-ms-input-placeholder {
    opacity: 1
}

.widget-search input::placeholder {
    opacity: 1
}

.widget-search button {
    position: absolute;
    top: 2px;
    right: 2px;
    height: 46px;
    border: 0;
    padding: 0;
    width: 70px;
    text-align: center;
    border-radius: 5px;
    background-color: #a8dadc;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s
}

.widget-search button:hover {
    background-color: #c25251;
    color: #fff
}

.widget-link {
    border: 1px solid #a8dadc;
    border-radius: 5px;
    padding: 15px 25px;
    margin-top: 35px
}

.widget-link ul li {
    position: relative;
    border-bottom: 1px solid #a8dadc;
    padding: 7px 0
}

.widget-link ul li:last-child {
    border-bottom: 0
}

.widget-link ul li a {
    font-size: 16px;
    font-weight: 400;
    color: #585858;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    display: block
}

.widget-link ul li a span {
    float: right;
    display: block
}

.widget-link ul li a:hover {
    color: #c25251
}

.widget-post {
    border: 1px solid #a8dadc;
    border-radius: 5px;
    padding: 15px 25px;
    margin-top: 35px
}

.widget-post .single-post {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 15px 0
}

.widget-post .single-post+.single-post {
    border-top: 1px solid #a8dadc
}

.widget-post .single-post .post-thumb a {
    display: block
}

.widget-post .single-post .post-thumb a img {
    width: 85px;
    height: 70px;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center
}

.widget-post .single-post .post-content {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding-left: 15px
}

.widget-post .single-post .post-content .title {
    margin-bottom: 0
}

.widget-post .single-post .post-content .title a {
    font-size: 18px;
    font-weight: 600;
    color: #1d3557;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s
}

@media only screen and (min-width: 992px) and (max-width: 1199px),
only screen and (max-width: 575px) {
    .widget-post .single-post .post-content .title a {
        font-size: 16px
    }
}

.widget-post .single-post .post-content .title a:hover {
    color: #c25251
}

.widget-post .single-post .post-content .date {
    font-size: 16px;
    color: #585858
}

@media only screen and (min-width: 992px) and (max-width: 1199px),
only screen and (max-width: 575px) {
    .widget-post .single-post .post-content .date {
        font-size: 14px
    }
}

.widget-tags {
    border: 1px solid #a8dadc;
    border-radius: 5px;
    padding: 15px 25px;
    margin-top: 35px
}

.widget-tags ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px
}

.widget-tags ul li {
    padding: 5px 10px
}

.widget-tags ul li a {
    font-size: 16px;
    color: #585858;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s
}

.widget-tags ul li a:hover {
    color: #c25251
}

.widget-color {
    padding: 0 15px
}

.widget-color .color-list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.widget-color .color-list li {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
    position: relative;
    border: 1px solid #b8b8b8;
    cursor: pointer;
    margin-top: 5px
}

.widget-color .color-list li:last-child {
    margin-right: 0
}

.widget-color .color-list li::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    border: 3px solid #fff;
    border-radius: 50%;
    top: 0;
    left: 0
}

.widget-color .color-list li::after {
    content: '\eed6';
    font-family: IcoFont !important;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    opacity: 0;
    visibility: hidden
}

.widget-color .color-list li.active::after {
    opacity: 1;
    visibility: visible
}

.widget-banner {
    display: block;
    position: relative
}

.widget-banner::before {
    background: rgba(255, 255, 255, 0.2);
    bottom: 0;
    content: "";
    left: 50%;
    position: absolute;
    right: 51%;
    top: 0;
    opacity: 1
}

.widget-banner::after {
    background: rgba(255, 255, 255, 0.2);
    bottom: 50%;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 50%;
    opacity: 1
}

.widget-banner img {
    width: 100%
}

.widget-banner:hover::before {
    left: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 900ms ease-in;
    -o-transition: all 900ms ease-in;
    transition: all 900ms ease-in
}

.widget-banner:hover::after {
    top: 0;
    bottom: 0;
    opacity: 0;
    -webkit-transition: all 900ms ease-in;
    -o-transition: all 900ms ease-in;
    transition: all 900ms ease-in
}

.footer-section {
    background-color: #ebf7f8
}

.copyright {
    background-color: #fff
}

.copyright-text {
    text-align: center;
    padding: 20px 0
}

.copyright-text p {
    color: #8d8d8d;
    font-size: 16px
}

.copyright-text p span {
    color: #1d3557
}

.copyright-text p i {
    color: #c25251
}

.copyright-text p a {
    color: #1d3557;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s
}

.copyright-text p a:hover {
    color: #c25251
}

.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 18px;
    width: 40px;
    height: 40px;
    line-height: 36px;
    border-radius: 50%;
    z-index: 99;
    text-align: center;
    display: none;
    -webkit-box-shadow: 0px 0px 30px 0px rgba(156, 156, 156, 0.25);
    box-shadow: 0px 0px 30px 0px rgba(156, 156, 156, 0.25);
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
    color: #fff;
    background-color: #343a40
}

.back-to-top:hover {
    color: #fff;
    background-color: #c25251
}

























/* Footer */